.project1 {
  height: 260px;
  width: 360px;
}

.project2 {
  height: 260px;
  width: 360px;
  position: absolute;
  opacity:0 ;
}

.project2:hover {
    opacity: 1;
}

@media (max-width: 768px) {
  .project {
    display: flex;
    justify-content: center;
  }
}

