.department {
  width: 70%;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.deps__img {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.deps__img > img {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
}

.department > h2 {
  text-align: center;
  margin: 20px 0px;
  font-weight: 800;
  /* color: ; */
}

.department > p {
  /* text-align: center; */
  color: #6f6f6f;
  letter-spacing: 1.3px;
  line-height: 1.8;
  margin: 20px 0px;
  font-size: 14px;
}

.dep__butt {
  display: flex;
  justify-content: center;
}

.dep__butt > button {
  width: 150px;
  line-height: 45px;
  text-align: center;
  border-width: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgb(199, 87, 87);
  /* for button styles */
  background: linear-gradient(to left, transparent 50%, rgb(199, 87, 87) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.dep__butt > button:hover {
  background-position: left;
}

.dep__butt > button > span {
  color: #6f6f6f;
}

.dep__butt > button > span:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .department > p {
    /* text-align: center; */
    color: #6f6f6f;
    letter-spacing: 1.3px;
    line-height: 1.6;
    margin: 20px 0px;
    font-size: 14px;
  }
}
